body {
    font-family: 'Fredoka', sans-serif;
}


#ejer-1 {
    height: 9em;
    margin: 2em auto;
}

#fantamista {
    background: violet;
    position: absolute;
    width: 3em;
    height: 3.5em;
    padding: .3em;
    border-radius: 2em 2em 0 0;
    animation-name: animar;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: cubic-bezier;
    cursor: pointer;
}

#fantamista::after {
    content: 'u u';
    display: block;    
}

#container-puntuaje {
    position: absolute;
    right: 0;
    width: 22em;
    background: #d48282;
    padding: 1em;
}


#modal {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
}

.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-right: 1em;
}

.mensaje-modal {
    background-color: #FFF;
    height: 3em;
    padding: 1em;
    display: grid;
    border-radius: 5px;
    justify-content: center;
    justify-items: center;
}

.modal-overlay-on {
    display: flex !important;
    animation-name: onModal;
    animation-duration: .9s;
    animation-iteration-count: 1;
    justify-content: center;
    align-items: center;
}
.modal-overlay-off {
    display: none !important;
    animation-name: offModal;
    animation-duration: .9s;
    animation-iteration-count: 1;
}

@keyframes onModal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes offModal {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes animar {
    0% {
        left: 1em;
        top: 1em;
    }

    10% {
        left: 8em;
        top: 1em;
    }
    30% {
        left: 8em;
        top: 8em;
    }

    60% {
        left: 1em;
        top: 8em;
    }

    100% {
        left: 1em;
        top: 1em;
    }
}